.partners {
    padding-top: 200px;
    margin-bottom: 140px;

    &__title {
        text-align: center;
        margin-bottom: 65px;
    }

    &__logos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: 25%;
        margin-bottom: 40px;

        @media (max-width: 991px) {
            flex-basis: 50%;
        }

        @media (max-width: 565px) {
            flex-basis: 100%;
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }
}